/* VARS */
:root{
    --white-color: #f9f9f9;
    --gray-color: #acacac;
    --black-color: #202022;
    --primary-color: #FF7C1D;
    --off-color: #F3C89C;
}
/* CLEAR */
body, ul, p, h1, h2, h3{
    margin: 0;
}
body{
    background-color: var(--white-color);
    font-family: 'Quicksand', sans-serif;
}
ul{
    list-style: none;
    padding: 0;
}
/* STYLES */
.header{
    color: var(--black-color);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.header-content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.navigation{
    display: flex;
    gap: 50px;
    align-items: center;
}
.navigation h1{
    text-transform: lowercase;
}
.navigation-options{
    display: flex;
    gap: 20px;
    font-weight: lighter;
}
.user-options{
    display: flex;
    align-items: center;
    gap: 50px;
}
.user-options .user-cart{
    width: 25px;
}
.user-options .user-avatar{
    width: 50px;
    border-radius: 100%;
}
.navigation h1:hover, .navigation-options li:hover, .user-options img:hover{
    cursor: pointer;
}
.product-section{
    margin-top: 8vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
.product-section-content{
    width: 70%;
    display: flex;
}
.product-images{
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 4vw;
    flex: 4;
}
.product-image-base{
    border-radius: 5px;
}
.product-image-base.selected{
    border: 2px solid var(--primary-color);
    opacity: 0.85;
}
.product-images-content{
    width: 75%;
    float: right;
}
.product-images-images{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.product-images-images img{
    width: calc(25% - 15px);
}
.product-images-main img{
    width: 100%;
    margin-right: 5vw;
    border-radius: 8px;
}
.product-info{
    margin-top: 50px;
    flex: 3;
    width: 100%;
}
.product-info h2{
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
.product-info h3{
    font-size: 2rem;
    margin-top: 10px;
    font-weight: bold;
}
.product-info-description{
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 20px;
}
.product-price{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.6rem;
}
.product-off-price{
    display: flex;
    flex-wrap: nowrap;
}
.product-price-off{
    background-color: var(--off-color);
    color: var(--primary-color);
    padding: 2px;
    font-size: 0.8rem;
    margin-left: 5px;
}
.product-old-price{
    color: var(--gray-color);
    font-size: 0.8rem;
    text-decoration: line-through;
    margin-top: 5px;
}
.product-form{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.product-form span{
    font-weight: bold;
    font-size: 1rem;
}
.product-form-add-or-remove{
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    color: var(--primary-color);
}
.product-form-add-or-remove:hover, .product-form-add-to-cart:hover{
    cursor: pointer;
}
.product-form-add-to-cart{
    color: var(--white-color);
    display: flex;
    flex-wrap: nowrap;
    background: var(--primary-color);
    border: none;
    position: relative;
    padding: 10px 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
}
.product-form-add-to-cart p{
    font-weight: lighter;
    font-size: 0.8rem;
}
.product-form-add-to-cart img{
    height: 20px;
    color: var(--white-color);
}